html {
    box-sizing: border-box;
    font-size: 62.5%;  /*1 rem = 10px*/
}

*, *:before, *:after {
    box-sizing: inherit;  /*hereda las propiedades de su padre*/
}

p{
    font-size: 25px;
    color: white;
    text-align: left;
}

.contenedor{
    width: 100vw;
    height: 100vh;
    position: relative;
    gap: 5px;
}

.header{
    width: 100%;
    height: 10vh;
    background-color: rgb(231, 10, 10);
    float: left;
}
.aside{
    width: 10vw;
    height: 80vh;
    background-color: yellow;
    float: left;
}
.main{
    width: 8vw;
    height: 80vh;
    background-color: pink;
    float: left;
}
.footer{
    width: 100%;
    height: 10vh;
    background-color: black;
    float: left;
}